<div class="columns is-mobile is-centered">
  <div class="column is-8 has-text-centered">

    <LinkTo @route="users">
      <button class="button" type="button">
        See all users
      </button>
    </LinkTo>

  </div>
</div>
